.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #f6e653;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: purple;
}

.App-link {
  color: #097fd3;
  text-decoration: none;
}

.App-link:hover {
  color: #19e3a3;
  text-decoration: none;
}
